<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>User's Deposits</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br />
    <div class="container border rounded text-center bg-light">
        <h2 th:text="${user.username} + '\'s Deposits'"></h2>
        <h2 th:text="${month} + ' ' + ${year}"></h2>
        <hr />
        <div th:if="${deposits.size() > 0}">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Account</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Source</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="deposit : ${deposits}">
                        <td th:text="${deposit.date}"></td>
                        <td th:text="${deposit.savingsAccount.templateSelector()}"></td>
                        <td th:text="${deposit.depositAmount}"></td>
                        <td th:text="${deposit.incomeSource.incomeSourceName}"></td>
                        <td>
                            <a th:href="@{'/delete-deposit/' + ${deposit.id}}">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:unless="${deposits.size() > 0}">
            <br />
            <br />
            <h3>No Deposits for this month!</h3>
            <br />
            <br />
        </div>
        <br />
    </div>
    <br />
</div>
</body>
</html>