<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Expenses Tracker</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br />
    <div class="container border rounded text-center">
        <div class="mt-4 p-5 rounded">
            <div class="p-3 rounded-lg m-2">
                <div class="row container border rounded bg-light">
                    <br />
                    <h1>Expenses Tracker Landing</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>